body{ background-color: rgb(241, 215, 183);}
h1{color: rgb(175, 132, 66);
text-align: left;}
p{ color: rgb(55, 34, 3);
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

